#header {
    background-color: #2E2EFE;
    text-align: center;
    padding: 30px;
    font-size: 15px;
    color:white;
}

#left {
    background-color: #58ACFA;
    width: 25%;
    height: 500px;
    float: left;
    text-align: center;
}
#form {
    background-color: #5882FA;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 500px;
    
}
#footer {
    background-color: #013ADF;

    text-align: center;
    clear: both;
    padding: 20px;
    color:white;
}
.input label{
    font-size: 20px;
}
.input input{
    font-size: 20px;
    float:right;
}
#gender-select{
    font-size: 20px;
    text-align: center;
}
#button{
    text-align: center;
    padding: 10px;
}
.button-font{
    font-size: 20px;

}
